@tailwind base;

@layer base {
  :root {
    /* --accent-color: 239, 84%, 67%; */

    --background: 193, 17%, 10%;
    --background-secondary: 233, 68%, 5%;
    --foreground: 233, 68%, 4.2%;

    --primary: 27, 96%, 61%;
    --primary-foreground: 210 40% 98%;

    --secondary: 239, 84%, 67%;
    --secondary-foreground: 210 40% 98%;

    --card: 196, 95%, 8%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;

    /*--popover: 196, 95%, 8%;
    --popover-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%; */
  }

  .dark {
    --background: 233, 68%, 4.2%;
    --background-secondary: 233, 68%, 5%;
    --foreground: 210, 40%, 98%;

    --primary: 239, 84%, 67%;
    --primary-foreground: 210, 40%, 98%;

    --secondary: 27, 96%, 61%;
    --secondary-foreground: 210, 40%, 98%;

    --card: 196, 96%, 6%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;

    /* --popover: 196, 95%, 8%;
    --popover-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%; */
  }
}