@tailwind base;

@layer base {
  :root {
    /* ok */
    --background: 32, 91%, 96%;
    --background-secondary: 32, 91%, 72%;
    --foreground: 226, 51%, 21%;

    /* ok */
    --primary: 27, 96%, 61%;
    --primary-foreground: 226, 51%, 21%;

    /* ok */
    --secondary: 239, 84%, 67%;
    --secondary-foreground: 226, 51%, 21%;

    --card: 32, 91%, 92%;
    --card-gradient: 32, 91%, 94%;
    --card-foreground: 226, 51%, 21%;

    --border: 217.2 32.6% 17.5%;
    
  }

  .dark {
    --background: 233, 68%, 4.2%;
    --background-secondary: 233, 68%, 5%;
    --foreground: 210, 40%, 98%;

    --primary: 239, 84%, 67%;
    --primary-foreground: 210, 40%, 98%;

    --secondary: 27, 96%, 61%;
    --secondary-foreground: 210, 40%, 98%;

    --card: 196, 96%, 6%;
    --card-gradient: 229, 84%, 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;

  }
}